body{
	background-image:url("add.jpg");
	background-size:cover;
	font-family:"Segoe UI",Arial,sans-serif;
}
div.title{
	margin-top:125px;
	margin-left:450px;
}
div.date{
	padding:10px;
	margin-left:350px;
}
div.payment{
	padding:10px;
	margin-left:350px;
}
div.amount{
	padding:10px;
	margin-left:350px;
	
}
div.description{
	padding:10px;
	margin-left:350px;
}

div.submit{
	margin-top:10px;
	margin-left:550px;
}